.slider{
    height: auto;
    margin: 135px auto 0 ; 
    width: 1730px;
    overflow: hidden;  
    border-radius: 7px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%; 
    animation: sliders 25s infinite alternate ease-in-out;
}

.slider li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider img{
    width: 100%;  
    border-radius: 7px; 
}

/* @keyframes sliders {
    0%{margin-left: 0; }
    20%{margin-left: 0; }

    25%{margin-left: -100%; }
    45%{margin-left: -100%; }

    50%{margin-left: -200%; }
    70%{margin-left: -200%; } 

    75%{margin-left: -300%; }
    100%{margin-left: -300%; }  
} */ 

@media(max-width:1380px){
    .slider{
        width: 1000px;
    }
    
}

@media(max-width:885px){
    .slider{
        width: 650px; 
    }
}

@media(max-width:460px){
    .slider{
        width: 340px;  
    }

}