@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Open+Sans:wght@300&display=swap");

:root {
  --purple-light: #7e35e4;
  --purple-dark: #54267d;
  --withe: #ffffff;
  --gray: #dadfe4;
  --black: #000000;
  --red: #dc3731;
  --aquaMarine: #01d1a0;
  --blue: #172e58;
  --orange: #fe7e00;
  --yellow: #fed700;
  --beige: #fef1e1;
  --shadow: #ced1d3;
  --white-light: #f8f9fa;

  --font-size-xs: 8.5px;
  --font-size-s: 14.5px;
  --font-size-m: 20.5px;
  --font-size-l: 41.67;
  --font-size-xl: 55.2px;
  --font-size-xxl: 78.9px;

  --font-family-montserrat: "Montserrat", "sans-serif";
}

* {
  margin: 0;
  box-sizing: border-box;
}

.dad {
  height: 1000px;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 25px; 
  left: 0;
  background-color: #fdfeff;
  z-index: 1000;
  padding: 0px 110px;
  box-shadow: 0 0 5px var(--shadow);
}

.header__botones {
  display: flex;
  align-items: center;
  gap: 50px;
}

.filtro_active {
  display: none;
}

.logo {
  cursor: pointer;
}

.filtro_input {
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 6px var(--gray);
  height: 40px;
  width: 300px;
  outline: none;
  padding: 0px 15px;
  animation: mover 2s;
}

@keyframes mover {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translate(0);
  }
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buscar {
  border-radius: 30px;
  background: var(--blue);
  border: none;
  color: var(--withe);
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buscar:hover {
  background: var(--aquaMarine);
  transition: 0.5s;
}

.btn-buscar:active {
  background: var(--blue);
  transition: 0.3s;
}

.cart {
  border-radius: 30px;
  border: none;
  background: var(--blue);
  color: var(--withe);
  outline: none;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
}

.icon-cart {
  width: 25px;
  height: 34px;
}
.count-products {
  background: var(--orange);
  border-radius: 30px;
  width: 20px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner img {
  height: 252px;
  width: auto;
  border-radius: 13px;
}
.contenido {
  height: 1px;
  position: relative;
  z-index: 1;
}

.nueva__clase {
  padding: 20px 0px;
  position: relative;
  left: 10%;
}

.container__btn {
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validacion {
  border: none;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  background: var(--aquaMarine);
  color: var(--withe);
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validacion:hover {
  box-shadow: 0 0 6px var(--withe);
  transition: 0.5s;
  background: var(--blue);
}

.validacion:active {
  background: var(--aquaMarine);
  transition: 0.3s;
}

.dad_card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  font-family: var(--font-family-montserrat);
  box-shadow: 0 0 6px var(--shadow);

  background: #ffffff;
}

.card__img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 141px;

}

.card__img img{
    width: 100%; 
    border-bottom: 1px solid var(--shadow);
}
.card__title {
  padding: 10px;
  width: 225px;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-botones {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.container-botones button {
  border-radius: 30px;
  border: none;
  background: var(--orange);
  color: var(--withe);
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
}

.container-botones button:hover {
  background: var(--red);
  transition: 0.5s;
}

.container-botones button:active {
  background: var(--orange);
  transition: 0.3s;
}

.dad-precio-total {
  display: flex;
  border: solid 1px;
  position: relative;
  left: 753px;
  width: 92px;
  height: 45px;
  top: 33px;
  border-radius: 27px;
}

.txt_total {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2px;
}

.txt_total h4 {
  font-weight: 600;
}

.precio-total {
  display: flex;
  align-items: center;
  justify-content: center;
}
.offcanvas-title {
  position: relative;
  left: 155px;
  font-weight: bold;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
  transform: none;
  width: 540px;
  font-family: var(--font-family-montserrat);
}

.container-cart {
  position: relative;
  top: 439px;
  right: 325px;
  background-color: var(--withe);
  width: 519px;
  height: 967px;
  z-index: 1;
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: var(--font-family-montserrat);
}

.info-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  padding: 20px;
  border-radius: 10px;
  z-index: -1;
}

.info-cart h4 {
  font-weight: bold;
}

.dad-container-products {
  height: 705px;
  position: relative;
  overflow-y: auto;
}

.container-products {
  overflow-y: auto;
  position: relative;
  left: 0;
  height: 485px;
  background: var(--white-light);
}

.container-total {
  display: flex;
  padding: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.dad-pagar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagar {
  border-radius: 50px;
  background: var(--blue);
  color: var(--withe);
  width: 160px;
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.pagar:hover {
  background: var(--aquaMarine);
  transition: 0.5s;
  animation: pedido 2s;
}

.pagar:active {
  background: var(--blue);
  transition: 0.2s;
}

.pedido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__pedido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.btn__envio {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  background: var(--blue);
  color: var(--withe);
  padding: 7px;
}

.btn__envio:hover {
  transition: 0.5s;
  background: var(--aquaMarine);
  box-shadow: 0 0 6px var(--black);
}

.cart-product {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  gap: 30px;
  height: 160px;
}

.info-cart-product {
  display: block;
  position: relative;
  left: -17px;
  width: auto;
  height: 110px;
}

.imagen-carrito {
  width: 90px;
}
.imagen-carrito img {
  width: 180px;
}

.nombre-product {
  font-size: var(--font-size-s);
  font-weight: bold;
  width: 245px;
  position: relative;
  top: -110px;
  left: 195px;
}

.precio-product {
  font-weight: 700;
  font-size: var(--font-size-s);
  margin-left: 10px;
  position: relative;
  left: 310px;
  bottom: 58px;
}

.quantity {
  display: flex;
  gap: 10px;
  position: relative;
  left: 195px;
  bottom: 86px;
  width: 90px;
}

.quantity button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  background: var(--blue);
  color: var(--withe);
  border: none;
  border-radius: 40px;
}

.quantity button:hover {
  background: var(--aquaMarine);
  transition: 0.5s;
}

.quantity button:active {
  background: var(--blue);
  transition: 0.2s;
}

.cantidad {
  font-weight: 400;
  font-size: var(--font-size-m);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 24px;
}

.card__cantidad {
  width: 50px;
  height: 20px;
  border-radius: 30px;
  outline: none;
  border: none;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.descuento h6 {
  font-weight: 700;
}

.total h3 {
  font-weight: 700;
}

.total-pagar {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.container-icon-trash {
  display: flex;
  position: relative;
  border-radius: 40px;
  opacity: 0.5;
  left: 428px;
  bottom: 195px;
  border: none;
}

.container-icon-trash svg {
  width: 20px;
  height: 20px;
}

.contenido {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cards_dad {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
  position: relative;
  width: auto;
  padding: 10px;
}

.product-quantity {
  width: 3.5rem;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  outline: none;
}

.card {
  border-radius: 50px;
  font-family: var(--font-family-montserrat);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.card img {
  position: relative;
  left: auto;
  bottom: 2px;
  object-fit: cover;
  transition: all 0.5s;
}

.card-title {
  font-weight: bold;
}

.card p {
  position: relative;
  top: 7px;
  font-size: var(--font-size-s);
}

.card h6 {
  position: absolute;
  bottom: 45px;
}

.card:hover img {
  transform: scale(1.2);
  cursor: pointer;
}

.boton_catalogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.boton_catalogo button {
  background-color: var(--purple-dark);
  border: none;
  width: 80px;
  height: 38px;
  border-radius: 33px;
  color: var(--withe);
}

.boton_catalogo button:hover {
  background: var(--purple-light);
  color: var(--withe);
  transition: 0.4s;
}
.boton_catalogo button:active {
  background: var(--purple-dark);
  transition: 0.2s;
}

.card:hover button {
  background-color: var(--orange);
  transition: 0.5s;
}
.card:active button {
  transition: 0.5s;
  background: var(--red);
}

.container-wompi {
  width: 1px;
  height: 1px;
}

.hidden-wompi .container-wompi {
  display: none;
  position: unset;
}

.conainer__wwp {
  position: fixed;
  z-index: 1000;
  border-radius: 30px;
  top: 500px;
  left: 720px;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.pedido__descuento {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}

.pedido__descuento input {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 4px var(--shadow);
  outline: none;
}

.bntDescuento {
  border: none;
  border-radius: 30px;
  background: var(--blue);
  color: var(--withe);
}

.bntDescuento:hover {
  background: var(--aquaMarine);
  transition: 0.5s;
  box-shadow: 0 0 15px var(--shadow);
}

.bntDescuento:active {
  background: var(--blue);
  transition: 0.3s;
}

.mobile {
  display: none;
}


.cont-promocion {
  color: var(--withe);
  font-weight: 900;
  gap: 5px;
  background: var(--red);
  display: flex;
  width: 106px;
  border-radius: 2px 15px 1px 15px;
  padding: 5px;
  justify-content: center;
  position: relative;
  bottom: 175px;

}

.cont-recursos{
  display: flex;
  gap: 5px;
  align-items: center;
  animation: prom 1.5s infinite alternate; 
  transition: transform 0.3s ease-in-out;

}

.envioGratis {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange); 
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    height: 27px;
    width: 100%;
    top: 0px; 
    left: 50%;
    transform: translateX(-50%);
    animation: animacionEnvioGratis 2s ease-in-out infinite alternate;
}

.envioGratis p{
  position: relative;
  top: 5px; 
}

.envioGratis img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

@keyframes animacionEnvioGratis {
  0% {
    transform: translateX(-50%) scale(1);
  }
  100% {
    transform: translateX(-50%) scale(1.1);
  }
}


@keyframes prom {
  0% {
    transform: scale(1);

  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
  }
}

.cont-promocion img{ 
  width: 20px; 
  color: var(--withe); 
}



.footer{
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  box-shadow: 0 0 6px var(--shadow);
  padding: 0px 30px; 
  height: 150px; 
}

.soporte_info{
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.footer__logo img{
  width: 200px;  
}

.footer__politica img{
  width: 150px;   
  height: 120px; 
  
}

.footer__politica{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

.politica{
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 7px;
}

.politica:hover{
  box-shadow: 0 0 6px var(--shadow);
  transition: .5s; 
}

/* clases de switch alert */

.custom-swal-popup {
  /* Estilos del popup del modal */
  width: 800px; 
}

@media screen and (max-width: 1380px) {
  .header {
    padding: 0px 30px;
  }
  .banner img {
    height: 124px;
  }
  .pedido {
    position: relative;
    top: 10px;
  }
  .container-products {
    height: 325px;
  }
}

@media screen and (max-width: 885px) {
  .header {
    padding: 0px 20px;
  }
  .banner img {
    height: 106px;
  }
  .pedido {
    position: relative;
    bottom: -20px;
  }
  .container-products {
    height: 480px;
  }
  .footer{
    display: flex;
    flex-direction: column;
    height: 366px; 
    justify-content: center; 
    align-items: center; 
  }
  .footer__logo{
    align-items: center;
    justify-content: center;
    display: flex; 
  }
  .soporte_info p {
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .footer__politica{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}

@media screen and (max-width: 460px) {
  .header {
    padding: 0px 10px;
  }

  .header__botones {
    gap: 10px;
  }

  .filtro_input {
    width: 163px;
  }

  .banner img {
    height: 52px;
  }
  .imagen-carrito img {
    width: 160px;
    position: relative;
    right: 21px;
  }
  .nombre-product {
    left: 140px;
    width: 160px;
  }
  .quantity {
    left: 140px;
  }
  .precio-product {
    left: 250px;
  }
  .container-icon-trash {
    left: 290px;
    bottom: 205px;
  }
  .pedido {
    position: relative;
    top: 3px;
  }
  .nueva__clase {
    left: 30px;
  }
  .container-products {
    height: 325px;
  }


  .pedido__descuento {
    position: relative;
    padding: 0px 10px;
  }
  .dad_card {
    flex-direction: row;
    height: 140px;
    padding: 0px;
  }
  .cont-promocion{
    border-radius: 2px 14px 3px 7px;
    display: flex;
    bottom: -10px;
 
  }

  .card__price{
    justify-content: space-around;
  }

  .card__img img{
    border-bottom: none;
  }

  .card__img{
    justify-content: center;
    align-items: flex-start; 
  }
  .footer{
    display: flex;
    flex-direction: column;
 
    justify-content: center; 
    align-items: center; 
  }
  .footer__logo{
    align-items: center;
    justify-content: center;
    display: flex; 
  }
  .soporte_info p {
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .footer__politica{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
}
