@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Open+Sans:wght@300&display=swap');

:root {
    --purple-light: #7e35e4;
    --purple-dark: #54267d;
    --withe: #ffffff;
    --gray: #dadfe4 ; 
    --black: #000000; 
    --red: #DC3731; 
    --aquaMarine: #01D1A0; 
    --blue: #172E58; 
    --orange : #FE7E00; 
    --yellow: #FED700; 
    --beige: #fef1e1; 
    --shadow: #ced1d3;

    --font-size-xs: 8.5px;
    --font-size-s: 14.5px; 
    --font-size-m: 20.5px;
    --font-size-l: 41.67;
    --font-size-xl: 55.2px;
    --font-size-xxl: 78.9px;

    --font-family-montserrat: "Montserrat", "sans-serif";
}

*{
    margin: 0;
    box-sizing: border-box;
} 

.dad{
    height: 1000px; 
    position: relative;
    z-index: 1;
}

.header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--withe);
    z-index: 1000;
    padding: 0px 110px; 
}

.header__botones{
    display: flex; 
    align-items: center;
    gap: 50px; 
} 

.filtro_active{
    display: none; 
}

.filtro_input{ 
    border: none; 
    border-radius: 30px;
    box-shadow: 0 0 6px var(--gray);
    height: 40px; 
    width: 300px;  
    outline: none;  
    padding: 0px 15px;  
    animation: mover 2s;
}

@keyframes mover{
    0% {
        transform: translateX(-20px); 
    }

    100%{
        transform: translate(0); 
    }
}

.btn-buscar{
    border-radius: 30px; 
    background: var(--blue);
    border: none;
    color: var(--withe); 
    width: 38px;
    height: 38px;  
     
}

.btn-buscar:hover{
    background: var(--aquaMarine);
    transition: .5s; 
}

.btn-buscar:active{
    background: var(--blue);
    transition: .3s; 
}

.cart{
    border-radius: 30px; 
    border: none;
    background: var(--blue);
    color: var(--withe);
    outline: none; 
    width: 38px;
    height: 38px; 
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.icon-cart{
    width: 25px;
    height: 34px;
}
.count-products{
    background: var(--orange);
    border-radius: 30px; 
    width: 20px; 
}

.body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding-top: 6rem;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
} 

.banner img{
    height: 220px;      
    width: auto; 
    border-radius: 6px;
} 
.contenido{
    height: 1px; 
     position: relative;
    z-index: 1; 
}

.nueva__clase{
    padding: 20px 0px;
    position: relative;
    left: 66px;
}

.dad_card{ 
    width: auto; 
    height: 156px;  
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 17px; 
    font-family: var(--font-family-montserrat); 
    box-shadow: 0 0 6px var(--shadow);
    padding: 10px; 
}

.card__container{
    flex: 1 1 auto; 
    width: auto;  
    display: flex;
    align-items: center;
    justify-content: center; 
}


.card__img{
    width: 175px;  
    object-fit: cover; 
    position: relative; 
}


.card__title{
    padding: 10px; 
    width: 220px; 
}

.card__price{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: space-between;  
}
.container-botones{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 0px;
}


.container-botones button{
    border-radius: 30px;
    border: none;
    background: var(--orange);
    color: var(--withe); 
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
}

.container-botones button:hover{
    background: var(--red);
    transition: .5s;
}


.container-botones button:active{
    background: var(--orange);
    transition: .3s;
}


.dad-precio-total{
    display: flex;
    border: solid 1px;
    position: relative;
    left: 753px;
    width: 92px;
    height: 45px;
    top: 33px;
    border-radius: 27px;
}


.precio-total{
    width: 89px;
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.offcanvas-title{
    position: relative;
    left: 155px; 
    font-weight: bold; 
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    width: 540px;
    font-family: var(--font-family-montserrat); 
}


.container-cart{
    position: relative;
    top: 439px; 
    right: 325px;
    background-color: var(--withe);
    width: 519px;
    height: 967px;
    z-index: 1;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20);
    border-radius: 10px;
    font-family: var(--font-family-montserrat); 
}

.info-cart{
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    top: 10px; 
    padding: 20px;
    border-radius: 10px; 
    z-index: -1;
}

.info-cart h4{ 
    font-weight: bold; 
}
.linea-carrito{
    background:var(--gray); 
    width: 100%; 
    height: 1px; 
    display: flex; 
}

.dad-container-products{
    height: 705px; 
    position: relative;
    overflow-y: auto;
}

.container-products{ 
    overflow-y: auto;
    position: relative;
    left: 0;
    height: 485px;
}

.container-total{
    display: flex;
    position: relative;
    padding: 20px; 
    top: 5px; 
    font-weight: bold;
}

.dad-pagar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagar{
    border-radius: 50px;
    background: var(--blue);
    color: var(--withe); 
    width: 260px;
    height: 50px;
    border: none;
}
.pagar:hover{
    background: var(--aquaMarine);
    transition: .5s;
}
.pagar:active{
    background: var(--blue);
    transition: .2s; 
}

.cart-product{
    display: flex;  
    padding: 30px;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(0, 0, 0, 0.20);
    gap: 30px;  
    height: 160px; 
}


.info-cart-product{
    display: block;
    position: relative;
    left: -17px;
    width: auto; 
    height: 110px; 
} 

.imagen-carrito{
    width: 90px; 
}
.imagen-carrito img{
    width: 180px;   
}

.nombre-product{
    font-size: var(--font-size-s); 
    font-weight: bold;
    width: 245px;
    position: relative;
    top: -110px;
    left: 195px;
}

.precio-product{
    font-weight: 700;  
    font-size: var(--font-size-s);
    margin-left: 10px; 
    position: relative;
    left: 310px;
    bottom: 58px;
}

.quantity{
    display: flex;
    gap: 10px; 
    position: relative;
    left: 195px;
    bottom: 86px;
    width: 90px;
}


.quantity button{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 26px;
    height: 26px;
    background: var(--blue);
    color: var(--withe);
    border: none;
    border-radius: 40px;
}

.quantity button:hover{
    background: var(--aquaMarine);
    transition: .5s;

}

.quantity button:active{
    background: var(--blue);
    transition: .2s;
}

.cantidad{
    font-weight: 400; 
    font-size: var(--font-size-m); 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 24px;
}

.card__cantidad{
    width: 50px;
    height: 20px;
    border-radius: 30px; 
    outline:none;
    border: none; 
}

.total{
    display: flex; 
    position: relative;
    top: 10px;
    
}

.total h3{
    font-weight: 700; 
}

.total-pagar{
    font-size: var(--font-size-m); 
    font-weight: bold;  
}

.container-icon-trash{ 
    display: flex; 
    position: relative;
    border-radius: 40px; 
    opacity: .5;
    left: 435px;
    bottom: 195px;
    border: none; 
}

.container-icon-trash svg{
    width: 20px;
    height: 20px; 
}


.linea {
    background-color: var(--blue); 
    height: 3px;
    width: 100%; 
    position: fixed;
    top: 98px; 
}


.contenido {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards_dad { 
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    position: relative;  
    width: auto;
    padding: 10px; 
}

.card { 
    border-radius: 50px; 
    font-family: var(--font-family-montserrat);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

}

.card img{  
    position: relative;
    left: auto;
    bottom: 2px; 
    object-fit: cover;
    transition: all .5s;
}

.card-title{
    font-weight: bold; 
}

.card p{
    position: relative;
    top: 7px; 
    font-size: var(--font-size-s); 
}

.card h6{
    position: absolute;
    bottom: 45px;
}

.card:hover img{ 
    transform: scale(1.2); 
    cursor: pointer;
}

.boton_catalogo{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
} 
.boton_catalogo button{
    background-color: var(--purple-dark);
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 33px;
    color: var(--withe); 
}

.boton_catalogo button:hover{ 
    background: var(--purple-light);  
    color: var(--withe); 
    transition: 0.4s; 
} 
.boton_catalogo button:active{
    background: var(--purple-dark); 
    transition: .2s;
}

.card:hover button{ 
    background-color: var(--orange);
    transition: 0.5s; 
}
.card:active button{ 
    transition: 0.5s; 
    background: var(--red); 
}

.container-wompi{
    width: 1px;
    height: 1px; 
}

.hidden-wompi .container-wompi{ 
    display: none; 
    position: unset; 

}

@media screen and (max-width:1380px){
    .header{
        padding: 0px 30px ; 
    }
    .banner img{
        height: 124px 
    }
    .cards_dad{
        width: auto; 
    }
    .pedido{
        position: relative;
        bottom: 30px; 
    }
}

@media screen and (max-width: 885px){
    .header{
        padding: 0px 20px; 
    }
    .banner img{
        height: 106px; 
    }
}


@media screen and (max-width: 460px){ 

    .header{
        padding: 0px 10px; 
    }

    .header__botones{
        gap:10px; 
    }

    .filtro_input{
        width: 163px;
    } 

    .banner img{
        height: 52px; 
    }
    .imagen-carrito img{
        width: 160px; 
        position: relative;
        right: 40px; 
    }
    .nombre-product{
        left: 125px; 
        width: 160px; 
    }
    .quantity{
        left: 125px; 
    }
    .precio-product{
        left: 200px;
    }
    .container-icon-trash{
        left: 290px;
        bottom: 205px; 
    }
    .pedido{
        position: relative;
        bottom: 30px; 
    }
    .nueva__clase{
        left: 30px; 
    }
    .container-products{
        height: 325px; 
    }

    .card__img{
        width: 167px;
    }

}
